/* line 4, C:/Code/site-boilerplate/assets/styles/_vars.scss */
.k-color-primary {
  color: #7f1199; }

/* line 4, C:/Code/site-boilerplate/assets/styles/_vars.scss */
.k-bg-color-primary {
  background-color: #7f1199; }

/* line 5, C:/Code/site-boilerplate/assets/styles/_vars.scss */
.k-color-secondary {
  color: #8f86d9; }

/* line 5, C:/Code/site-boilerplate/assets/styles/_vars.scss */
.k-bg-color-secondary {
  background-color: #8f86d9; }

/* line 6, C:/Code/site-boilerplate/assets/styles/_vars.scss */
.k-color-inverse {
  color: #fff; }

/* line 6, C:/Code/site-boilerplate/assets/styles/_vars.scss */
.k-bg-color-inverse {
  background-color: #fff; }

/* line 7, C:/Code/site-boilerplate/assets/styles/_vars.scss */
.k-color-success {
  color: #5cb85c; }

/* line 7, C:/Code/site-boilerplate/assets/styles/_vars.scss */
.k-bg-color-success {
  background-color: #5cb85c; }

/* line 8, C:/Code/site-boilerplate/assets/styles/_vars.scss */
.k-color-info {
  color: #5bc0de; }

/* line 8, C:/Code/site-boilerplate/assets/styles/_vars.scss */
.k-bg-color-info {
  background-color: #5bc0de; }

/* line 9, C:/Code/site-boilerplate/assets/styles/_vars.scss */
.k-color-warning {
  color: #f0ad4e; }

/* line 9, C:/Code/site-boilerplate/assets/styles/_vars.scss */
.k-bg-color-warning {
  background-color: #f0ad4e; }

/* line 10, C:/Code/site-boilerplate/assets/styles/_vars.scss */
.k-color-danger {
  color: #d9534f; }

/* line 10, C:/Code/site-boilerplate/assets/styles/_vars.scss */
.k-bg-color-danger {
  background-color: #d9534f; }

/* line 13, C:/Code/site-boilerplate/assets/styles/_vars.scss */
.k-gray-base {
  color: black; }

/* line 13, C:/Code/site-boilerplate/assets/styles/_vars.scss */
.k-bg-gray-base {
  background-color: black; }

/* line 14, C:/Code/site-boilerplate/assets/styles/_vars.scss */
.k-gray-darker {
  color: #262626; }

/* line 14, C:/Code/site-boilerplate/assets/styles/_vars.scss */
.k-bg-gray-darker {
  background-color: #262626; }

/* line 15, C:/Code/site-boilerplate/assets/styles/_vars.scss */
.k-gray-dark {
  color: #595959; }

/* line 15, C:/Code/site-boilerplate/assets/styles/_vars.scss */
.k-bg-gray-dark {
  background-color: #595959; }

/* line 16, C:/Code/site-boilerplate/assets/styles/_vars.scss */
.k-gray-regular {
  color: gray; }

/* line 16, C:/Code/site-boilerplate/assets/styles/_vars.scss */
.k-bg-gray-regular {
  background-color: gray; }

/* line 17, C:/Code/site-boilerplate/assets/styles/_vars.scss */
.k-gray-light {
  color: #a6a6a6; }

/* line 17, C:/Code/site-boilerplate/assets/styles/_vars.scss */
.k-bg-gray-light {
  background-color: #a6a6a6; }

/* line 18, C:/Code/site-boilerplate/assets/styles/_vars.scss */
.k-gray-lighter {
  color: #d9d9d9; }

/* line 18, C:/Code/site-boilerplate/assets/styles/_vars.scss */
.k-bg-gray-lighter {
  background-color: #d9d9d9; }

/* line 19, C:/Code/site-boilerplate/assets/styles/_vars.scss */
.k-gray-ghost {
  color: #e6e6e6; }

/* line 19, C:/Code/site-boilerplate/assets/styles/_vars.scss */
.k-bg-gray-ghost {
  background-color: #e6e6e6; }

/* line 24, C:/Code/site-boilerplate/assets/styles/_vars.scss */
.k-vs-50p {
  margin-bottom: 50px; }

/* line 25, C:/Code/site-boilerplate/assets/styles/_vars.scss */
.k-vs-25p {
  margin-bottom: 25px; }

/* line 42, C:/Code/site-boilerplate/assets/styles/_vars.scss */
.k-img-absolute, .k-prod-img img, .k-cart-item-img img, .k-order-item-img img, .k-prod-thumbs__img img {
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  margin: auto; }

/* line 3, C:/Code/site-boilerplate/assets/styles/_elements.scss */
h1, h2, h3, h4, h5, h6, p, figure, ul, li {
  margin: 0;
  padding: 0; }

/* line 8, C:/Code/site-boilerplate/assets/styles/_elements.scss */
i, img {
  vertical-align: middle; }

/* line 10, C:/Code/site-boilerplate/assets/styles/_elements.scss */
.unit img {
  max-height: 100%; }

/* line 13, C:/Code/site-boilerplate/assets/styles/_elements.scss */
img.k-sm {
  width: 30px; }

/* line 14, C:/Code/site-boilerplate/assets/styles/_elements.scss */
img.k-md {
  width: 40px; }

/* line 15, C:/Code/site-boilerplate/assets/styles/_elements.scss */
img.k-lg {
  width: 50px; }

/* line 16, C:/Code/site-boilerplate/assets/styles/_elements.scss */
.k-xs {
  font-size: 12px; }

/* line 17, C:/Code/site-boilerplate/assets/styles/_elements.scss */
.k-sm {
  font-size: 14px; }

/* line 18, C:/Code/site-boilerplate/assets/styles/_elements.scss */
.k-md {
  font-size: 16px; }

/* line 19, C:/Code/site-boilerplate/assets/styles/_elements.scss */
.k-lg {
  font-size: 18px; }

/* line 20, C:/Code/site-boilerplate/assets/styles/_elements.scss */
.k-xl {
  font-size: 2em; }

/* line 23, C:/Code/site-boilerplate/assets/styles/_elements.scss */
.k-header {
  padding: 20px;
  background-color: #fff; }
  /* line 30, C:/Code/site-boilerplate/assets/styles/_elements.scss */
  .k-header .k-container {
    display: table;
    width: 100%; }
  /* line 35, C:/Code/site-boilerplate/assets/styles/_elements.scss */
  .k-header .k-logo {
    display: table-cell;
    width: 150px;
    vertical-align: middle; }
    /* line 40, C:/Code/site-boilerplate/assets/styles/_elements.scss */
    .k-header .k-logo img {
      display: block;
      max-width: 100%;
      height: auto; }
  /* line 47, C:/Code/site-boilerplate/assets/styles/_elements.scss */
  .k-header .k-navbar {
    display: table-cell;
    vertical-align: middle;
    text-align: right; }
    /* line 52, C:/Code/site-boilerplate/assets/styles/_elements.scss */
    .k-header .k-navbar ul {
      display: none;
      margin: 0;
      padding: 0; }
    /* line 58, C:/Code/site-boilerplate/assets/styles/_elements.scss */
    .k-header .k-navbar li {
      display: inline-block;
      list-style: none; }
    /* line 63, C:/Code/site-boilerplate/assets/styles/_elements.scss */
    .k-header .k-navbar a {
      display: inline-block;
      padding-top: 10px;
      padding-right: 5px;
      padding-bottom: 10px;
      padding-left: 5px;
      color: #595959;
      font-family: 'Nunito', sans-serif;
      font-size: 13px;
      font-weight: 400;
      text-decoration: none;
      text-transform: uppercase; }
      /* line 76, C:/Code/site-boilerplate/assets/styles/_elements.scss */
      .k-header .k-navbar a:hover {
        color: #262626; }
      /* line 77, C:/Code/site-boilerplate/assets/styles/_elements.scss */
      .k-header .k-navbar a:active {
        color: black; }
    /* line 80, C:/Code/site-boilerplate/assets/styles/_elements.scss */
    .k-header .k-navbar .k-navbar-button a {
      padding: 5px;
      margin-left: 5px;
      color: #fff;
      background-color: #7f1199;
      border-radius: 4px; }
      /* line 87, C:/Code/site-boilerplate/assets/styles/_elements.scss */
      .k-header .k-navbar .k-navbar-button a:hover {
        background-color: #9325ad; }
    @media screen and (min-width: 510px) {
      /* line 91, C:/Code/site-boilerplate/assets/styles/_elements.scss */
      .k-header .k-navbar .k-navbar-button a {
        margin-left: 30px; } }
    /* line 96, C:/Code/site-boilerplate/assets/styles/_elements.scss */
    .k-header .k-navbar .k-navbar-controls {
      position: relative;
      float: right;
      width: 26px;
      height: 26px;
      padding: 6px;
      color: #595959;
      cursor: pointer;
      user-select: none; }
      /* line 106, C:/Code/site-boilerplate/assets/styles/_elements.scss */
      .k-header .k-navbar .k-navbar-controls svg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%; }
    /* line 115, C:/Code/site-boilerplate/assets/styles/_elements.scss */
    .k-header .k-navbar .k-navbar-close {
      display: none; }
    /* line 119, C:/Code/site-boilerplate/assets/styles/_elements.scss */
    .k-header .k-navbar.k-as-overlay {
      position: fixed;
      display: table;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 10;
      background-color: rgba(255, 255, 255, 0.95); }
      /* line 129, C:/Code/site-boilerplate/assets/styles/_elements.scss */
      .k-header .k-navbar.k-as-overlay ul {
        display: table-cell;
        vertical-align: middle;
        text-align: center; }
      /* line 135, C:/Code/site-boilerplate/assets/styles/_elements.scss */
      .k-header .k-navbar.k-as-overlay li {
        display: block; }
      /* line 139, C:/Code/site-boilerplate/assets/styles/_elements.scss */
      .k-header .k-navbar.k-as-overlay a {
        font-size: 16px; }
      /* line 143, C:/Code/site-boilerplate/assets/styles/_elements.scss */
      .k-header .k-navbar.k-as-overlay .k-navbar-button a {
        margin-left: 0; }
      /* line 147, C:/Code/site-boilerplate/assets/styles/_elements.scss */
      .k-header .k-navbar.k-as-overlay .k-navbar-controls {
        position: absolute;
        top: 25px;
        right: 20px; }
      /* line 153, C:/Code/site-boilerplate/assets/styles/_elements.scss */
      .k-header .k-navbar.k-as-overlay .k-navbar-close {
        display: inline; }
      /* line 157, C:/Code/site-boilerplate/assets/styles/_elements.scss */
      .k-header .k-navbar.k-as-overlay .k-navbar-hamburger {
        display: none; }
  @media screen and (min-width: 480px) {
    /* line 164, C:/Code/site-boilerplate/assets/styles/_elements.scss */
    .k-header .k-navbar {
      display: table-cell; }
      /* line 167, C:/Code/site-boilerplate/assets/styles/_elements.scss */
      .k-header .k-navbar ul {
        display: block; }
    /* line 172, C:/Code/site-boilerplate/assets/styles/_elements.scss */
    .k-header .k-navbar:not(.k-as-overlay) .k-navbar-controls {
      display: none; } }

/* line 180, C:/Code/site-boilerplate/assets/styles/_elements.scss */
.k-page-header {
  padding-top: 75px;
  padding-bottom: 75px;
  text-align: center; }
  /* line 185, C:/Code/site-boilerplate/assets/styles/_elements.scss */
  .k-page-header h1 {
    margin-bottom: 15px;
    font-size: 48px;
    color: #fff; }
  /* line 191, C:/Code/site-boilerplate/assets/styles/_elements.scss */
  .k-page-header p {
    font-size: 28px;
    color: #d9d9d9; }

/* line 198, C:/Code/site-boilerplate/assets/styles/_elements.scss */
.k-section {
  margin-top: 25px; }

@media screen and (min-width: 480px) {
  /* line 203, C:/Code/site-boilerplate/assets/styles/_elements.scss */
  .k-section {
    margin-top: 75px; } }

/* line 210, C:/Code/site-boilerplate/assets/styles/_elements.scss */
.k-article h2.k-heading {
  margin-bottom: 50px; }

/* line 213, C:/Code/site-boilerplate/assets/styles/_elements.scss */
.k-article h3.k-heading,
.k-article h4.k-heading {
  margin-bottom: 25px; }

/* line 217, C:/Code/site-boilerplate/assets/styles/_elements.scss */
.k-article p + p {
  margin-top: 25px; }

/* line 218, C:/Code/site-boilerplate/assets/styles/_elements.scss */
.k-article p:last-child {
  margin-bottom: 75px; }

/* line 219, C:/Code/site-boilerplate/assets/styles/_elements.scss */
.k-article p.k-sm:last-child {
  margin-bottom: 50px; }

/* line 223, C:/Code/site-boilerplate/assets/styles/_elements.scss */
.k-banner {
  padding-top: 100px;
  padding-bottom: 100px;
  font-family: 'Nunito', sans-serif;
  font-size: 30px;
  font-weight: 300;
  text-align: center; }
  /* line 231, C:/Code/site-boilerplate/assets/styles/_elements.scss */
  .k-banner .k-heading {
    margin-bottom: 15px; }
  /* line 233, C:/Code/site-boilerplate/assets/styles/_elements.scss */
  .k-banner p {
    padding-right: 10%;
    padding-left: 10%;
    color: #595959; }

/* line 241, C:/Code/site-boilerplate/assets/styles/_elements.scss */
.k-jumbotron {
  padding-right: 20px;
  padding-left: 20px;
  background: #7f1199; }
  /* line 246, C:/Code/site-boilerplate/assets/styles/_elements.scss */
  .k-jumbotron .k-heading {
    color: #fff; }
  /* line 247, C:/Code/site-boilerplate/assets/styles/_elements.scss */
  .k-jumbotron p {
    color: #d9d9d9; }

/* line 251, C:/Code/site-boilerplate/assets/styles/_elements.scss */
.k-figure {
  margin-bottom: 75px;
  text-align: center; }
  /* line 255, C:/Code/site-boilerplate/assets/styles/_elements.scss */
  .k-figure a {
    display: block;
    text-decoration: none;
    color: inherit; }
  /* line 261, C:/Code/site-boilerplate/assets/styles/_elements.scss */
  .k-figure .k-container {
    display: table;
    width: 100%;
    margin-bottom: 25px; }
    /* line 266, C:/Code/site-boilerplate/assets/styles/_elements.scss */
    .k-figure .k-container.k-sm div {
      height: 100px; }
    /* line 267, C:/Code/site-boilerplate/assets/styles/_elements.scss */
    .k-figure .k-container.k-md div {
      height: 150px; }
    /* line 268, C:/Code/site-boilerplate/assets/styles/_elements.scss */
    .k-figure .k-container.k-lg div {
      height: 200px; }
    /* line 270, C:/Code/site-boilerplate/assets/styles/_elements.scss */
    .k-figure .k-container div {
      display: table-cell;
      vertical-align: middle;
      text-align: center; }
  /* line 277, C:/Code/site-boilerplate/assets/styles/_elements.scss */
  .k-figure .k-heading {
    margin-bottom: 25px; }

/* line 281, C:/Code/site-boilerplate/assets/styles/_elements.scss */
.k-hr {
  overflow: hidden;
  clear: both;
  margin: 0;
  height: 1px;
  border: none;
  background-color: #e6e6e6; }

/* line 291, C:/Code/site-boilerplate/assets/styles/_elements.scss */
.k-heading {
  font-family: 'Nunito', sans-serif;
  color: #7f1199; }

/* line 297, C:/Code/site-boilerplate/assets/styles/_elements.scss */
.k-media {
  display: table;
  margin-bottom: 75px; }
  /* line 301, C:/Code/site-boilerplate/assets/styles/_elements.scss */
  .k-media .k-media-left {
    display: table-cell; }
    /* line 304, C:/Code/site-boilerplate/assets/styles/_elements.scss */
    .k-media .k-media-left.k-sm {
      width: 30px;
      padding-right: 18px; }
    /* line 309, C:/Code/site-boilerplate/assets/styles/_elements.scss */
    .k-media .k-media-left.k-md {
      width: 40px;
      padding-right: 20px; }
    /* line 314, C:/Code/site-boilerplate/assets/styles/_elements.scss */
    .k-media .k-media-left.k-lg {
      width: 50px;
      padding-right: 22px; }
  /* line 320, C:/Code/site-boilerplate/assets/styles/_elements.scss */
  .k-media .k-media-body {
    display: table-cell;
    vertical-align: top; }
  /* line 325, C:/Code/site-boilerplate/assets/styles/_elements.scss */
  .k-media .k-heading {
    margin-bottom: 15px; }
    /* line 328, C:/Code/site-boilerplate/assets/styles/_elements.scss */
    .k-media .k-heading i, .k-media .k-heading img {
      margin-right: 20px; }

/* line 333, C:/Code/site-boilerplate/assets/styles/_elements.scss */
.k-button {
  display: inline-block;
  margin-bottom: 5px;
  text-decoration: none;
  text-align: center;
  border-radius: 4px; }
  /* line 340, C:/Code/site-boilerplate/assets/styles/_elements.scss */
  .k-button.k-as-block {
    display: block; }
  /* line 342, C:/Code/site-boilerplate/assets/styles/_elements.scss */
  .k-button.k-sm {
    padding: 4px 6px 4px 6px;
    font-size: 12px; }
  /* line 347, C:/Code/site-boilerplate/assets/styles/_elements.scss */
  .k-button.k-md {
    padding: 8px; }
  /* line 351, C:/Code/site-boilerplate/assets/styles/_elements.scss */
  .k-button.k-lg {
    padding: 12px;
    font-size: 18px; }
  /* line 356, C:/Code/site-boilerplate/assets/styles/_elements.scss */
  .k-button.k-bg-color-inverse {
    border: 2px solid #7f1199; }
  /* line 360, C:/Code/site-boilerplate/assets/styles/_elements.scss */
  .k-button.k-color-primary:hover {
    color: #fff;
    background-color: #7f1199; }

/* line 367, C:/Code/site-boilerplate/assets/styles/_elements.scss */
.k-footer {
  margin-top: 20px;
  padding-top: 25px;
  background-color: #e6e6e6; }
  /* line 372, C:/Code/site-boilerplate/assets/styles/_elements.scss */
  .k-footer .k-heading {
    margin-bottom: 15px;
    text-transform: uppercase; }
  /* line 377, C:/Code/site-boilerplate/assets/styles/_elements.scss */
  .k-footer .k-sitemap .k-container {
    display: block;
    float: left;
    margin-right: 20px;
    margin-bottom: 25px; }
    /* line 383, C:/Code/site-boilerplate/assets/styles/_elements.scss */
    .k-footer .k-sitemap .k-container li {
      margin-bottom: 2px;
      list-style: none; }
    /* line 388, C:/Code/site-boilerplate/assets/styles/_elements.scss */
    .k-footer .k-sitemap .k-container a {
      color: #a6a6a6;
      font-size: 12px;
      text-decoration: none; }
      /* line 393, C:/Code/site-boilerplate/assets/styles/_elements.scss */
      .k-footer .k-sitemap .k-container a:hover {
        color: #7f1199;
        text-decoration: underline; }
  @media screen and (min-width: 480px) {
    /* line 401, C:/Code/site-boilerplate/assets/styles/_elements.scss */
    .k-footer .k-sitemap .k-container {
      margin-right: 40px; } }
  /* line 406, C:/Code/site-boilerplate/assets/styles/_elements.scss */
  .k-footer .k-address {
    text-align: right; }
    /* line 409, C:/Code/site-boilerplate/assets/styles/_elements.scss */
    .k-footer .k-address address {
      font-style: normal; }
    /* line 411, C:/Code/site-boilerplate/assets/styles/_elements.scss */
    .k-footer .k-address small {
      display: block;
      margin-bottom: 4px; }
    /* line 416, C:/Code/site-boilerplate/assets/styles/_elements.scss */
    .k-footer .k-address a {
      color: #595959;
      text-decoration: none; }
      /* line 420, C:/Code/site-boilerplate/assets/styles/_elements.scss */
      .k-footer .k-address a:hover i {
        color: #262626; }
  /* line 424, C:/Code/site-boilerplate/assets/styles/_elements.scss */
  .k-footer .k-details {
    clear: both;
    padding: 15px 20px 15px 20px;
    border-top: 1px solid #d9d9d9; }
    /* line 429, C:/Code/site-boilerplate/assets/styles/_elements.scss */
    .k-footer .k-details small {
      font-size: 10px;
      color: gray; }
    /* line 434, C:/Code/site-boilerplate/assets/styles/_elements.scss */
    .k-footer .k-details ul {
      float: right; }
    /* line 436, C:/Code/site-boilerplate/assets/styles/_elements.scss */
    .k-footer .k-details li {
      display: inline-block;
      list-style: none; }
    /* line 441, C:/Code/site-boilerplate/assets/styles/_elements.scss */
    .k-footer .k-details a {
      padding: 5px;
      font-size: 10px;
      text-decoration: none;
      color: #a6a6a6; }
      /* line 447, C:/Code/site-boilerplate/assets/styles/_elements.scss */
      .k-footer .k-details a:hover {
        color: gray; }
  @media screen and (min-width: 480px) {
    /* line 452, C:/Code/site-boilerplate/assets/styles/_elements.scss */
    .k-footer .k-details {
      padding-right: 0;
      padding-left: 0; } }

/* line 7, C:/Code/site-boilerplate/assets/styles/UI/_k-product.scss */
.k-prod-img_main {
  border: 1px solid #d9d9d9;
  padding-top: 75%;
  text-align: center;
  position: relative; }

/* line 13, C:/Code/site-boilerplate/assets/styles/UI/_k-product.scss */
.k-prod-img_prevs {
  margin-top: 20px;
  font-size: 0;
  text-align: center;
  box-sizing: border-box; }
  /* line 18, C:/Code/site-boilerplate/assets/styles/UI/_k-product.scss */
  .k-prod-img_prevs li {
    height: 109px;
    list-style: none;
    box-sizing: border-box; }
    /* line 22, C:/Code/site-boilerplate/assets/styles/UI/_k-product.scss */
    .k-prod-img_prevs li.unit {
      float: none;
      display: inline-block;
      padding: 0;
      width: calc(33.33% - 13.5px); }
      @media screen and (min-width: 768px) {
        /* line 22, C:/Code/site-boilerplate/assets/styles/UI/_k-product.scss */
        .k-prod-img_prevs li.unit {
          width: calc(33.33% - 30px); } }
      /* line 30, C:/Code/site-boilerplate/assets/styles/UI/_k-product.scss */
      .k-prod-img_prevs li.unit:not(:first-child) {
        margin-left: 20px; }
    /* line 34, C:/Code/site-boilerplate/assets/styles/UI/_k-product.scss */
    .k-prod-img_prevs li .img-wrap {
      display: block;
      width: 100%;
      height: 100%;
      position: relative;
      border: 1px solid #d9d9d9;
      box-sizing: border-box; }

/* line 48, C:/Code/site-boilerplate/assets/styles/UI/_k-product.scss */
.k-prod-info {
  font-size: 18px; }

/* line 53, C:/Code/site-boilerplate/assets/styles/UI/_k-product.scss */
.k-info-block {
  border-bottom: 1px solid #d9d9d9;
  margin-bottom: 30px; }
  /* line 56, C:/Code/site-boilerplate/assets/styles/UI/_k-product.scss */
  .k-info-block > * {
    margin-bottom: 30px; }
  /* line 60, C:/Code/site-boilerplate/assets/styles/UI/_k-product.scss */
  .k-info-block.k-main-info {
    text-align: center; }
    @media screen and (min-width: 768px) {
      /* line 60, C:/Code/site-boilerplate/assets/styles/UI/_k-product.scss */
      .k-info-block.k-main-info {
        text-align: left; } }
  /* line 67, C:/Code/site-boilerplate/assets/styles/UI/_k-product.scss */
  .k-info-block_name {
    font-size: 2em;
    font-weight: 700;
    margin-bottom: 8px; }
  /* line 72, C:/Code/site-boilerplate/assets/styles/UI/_k-product.scss */
  .k-info-block_sub {
    font-size: 1.667em;
    font-weight: 400;
    color: #595959; }
  /* line 77, C:/Code/site-boilerplate/assets/styles/UI/_k-product.scss */
  .k-info-block_key {
    font-size: 1em;
    color: gray; }
  /* line 82, C:/Code/site-boilerplate/assets/styles/UI/_k-product.scss */
  .k-info-block_price {
    float: left;
    padding-top: 4px; }
    /* line 86, C:/Code/site-boilerplate/assets/styles/UI/_k-product.scss */
    .k-info-block_price span:first-child {
      font-size: 1.333em;
      font-weight: 700; }
    /* line 90, C:/Code/site-boilerplate/assets/styles/UI/_k-product.scss */
    .k-info-block_price span:last-child {
      font-size: 1.111em;
      color: gray; }
  /* line 97, C:/Code/site-boilerplate/assets/styles/UI/_k-product.scss */
  .k-info-block_social {
    text-align: right;
    font-size: 0; }
    /* line 100, C:/Code/site-boilerplate/assets/styles/UI/_k-product.scss */
    .k-info-block_social li {
      display: inline-block;
      vertical-align: middle;
      width: 30px;
      height: 30px; }
      /* line 107, C:/Code/site-boilerplate/assets/styles/UI/_k-product.scss */
      .k-info-block_social li a {
        display: inline-block;
        width: 100%;
        height: 100%;
        transition: all 150ms ease-in-out; }
        /* line 112, C:/Code/site-boilerplate/assets/styles/UI/_k-product.scss */
        .k-info-block_social li a:hover {
          opacity: 0.7; }
      /* line 116, C:/Code/site-boilerplate/assets/styles/UI/_k-product.scss */
      .k-info-block_social li:not(:first-child) {
        margin-left: 10px; }
  /* line 122, C:/Code/site-boilerplate/assets/styles/UI/_k-product.scss */
  .k-info-block_quantity {
    float: left; }
    /* line 124, C:/Code/site-boilerplate/assets/styles/UI/_k-product.scss */
    .k-info-block_quantity label {
      font-size: 1.111em;
      color: gray; }
    /* line 128, C:/Code/site-boilerplate/assets/styles/UI/_k-product.scss */
    .k-info-block_quantity input {
      width: 2.278em;
      padding-left: 10px;
      box-sizing: border-box;
      text-align: center;
      margin-left: 12px; }
  /* line 137, C:/Code/site-boilerplate/assets/styles/UI/_k-product.scss */
  .k-info-block_available {
    padding-top: 0.3em;
    text-align: right;
    color: #7f1199;
    font-size: 1.111em;
    font-weight: 700; }
  /* line 149, C:/Code/site-boilerplate/assets/styles/UI/_k-product.scss */
  .k-info-block_legend {
    text-align: center;
    font-size: 1.111em;
    color: #595959; }
  /* line 156, C:/Code/site-boilerplate/assets/styles/UI/_k-product.scss */
  .k-info-block_desc > * {
    margin-bottom: 30px; }
  /* line 159, C:/Code/site-boilerplate/assets/styles/UI/_k-product.scss */
  .k-info-block_desc p {
    line-height: 1.4em;
    font-size: 1em;
    color: #595959; }
  /* line 164, C:/Code/site-boilerplate/assets/styles/UI/_k-product.scss */
  .k-info-block_desc h4 {
    font-weight: 700;
    font-size: 1em; }

/* line 172, C:/Code/site-boilerplate/assets/styles/UI/_k-product.scss */
.k-prod-specs_title {
  color: #000000;
  font-weight: 700;
  border-bottom: 1px solid #d9d9d9;
  padding-bottom: 30px; }

/* line 179, C:/Code/site-boilerplate/assets/styles/UI/_k-product.scss */
.k-prod-specs_table {
  width: 100%;
  border-collapse: collapse; }
  /* line 182, C:/Code/site-boilerplate/assets/styles/UI/_k-product.scss */
  .k-prod-specs_table tr {
    border-bottom: 1px solid #d9d9d9; }
    /* line 184, C:/Code/site-boilerplate/assets/styles/UI/_k-product.scss */
    .k-prod-specs_table tr td {
      width: 50%;
      font-size: 0.889em;
      vertical-align: middle;
      color: #595959;
      padding: 30px 0; }
      /* line 190, C:/Code/site-boilerplate/assets/styles/UI/_k-product.scss */
      .k-prod-specs_table tr td:first-of-type {
        font-weight: 700; }
      /* line 193, C:/Code/site-boilerplate/assets/styles/UI/_k-product.scss */
      .k-prod-specs_table tr td:last-of-type {
        text-align: right; }

/* line 204, C:/Code/site-boilerplate/assets/styles/UI/_k-product.scss */
.k-prod-specs_table--stripped tr:nth-child(odd) {
  background-color: #e6e6e6; }

/* line 208, C:/Code/site-boilerplate/assets/styles/UI/_k-product.scss */
.k-prod-specs_table--stripped tr td:first-of-type {
  padding-left: 15px; }

/* line 211, C:/Code/site-boilerplate/assets/styles/UI/_k-product.scss */
.k-prod-specs_table--stripped tr td:last-of-type {
  padding-right: 15px; }

/* line 1, C:/Code/site-boilerplate/assets/styles/UI/_k-buttons.scss */
.k-btn {
  display: inline-block;
  font-family: inherit;
  height: 2.3em;
  font-size: 1.333em;
  background-color: #7f1199;
  line-height: 2.3em;
  color: #ffffff;
  text-decoration: none;
  white-space: nowrap;
  font-weight: 700;
  width: 100%; }
  @media (min-width: 768px) {
    /* line 1, C:/Code/site-boilerplate/assets/styles/UI/_k-buttons.scss */
    .k-btn {
      padding: 0 3em;
      width: auto; } }
  /* line 20, C:/Code/site-boilerplate/assets/styles/UI/_k-buttons.scss */
  .k-btn:hover,
  .k-btn:active,
  .k-btn:focus,
  .k-btn:visited {
    text-decoration: none;
    color: #ffffff; }
  /* line 25, C:/Code/site-boilerplate/assets/styles/UI/_k-buttons.scss */
  .k-btn:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    background-color: #610d74; }
  /* line 31, C:/Code/site-boilerplate/assets/styles/UI/_k-buttons.scss */
  .k-btn:active,
  .k-btn:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5) inset; }
  /* line 36, C:/Code/site-boilerplate/assets/styles/UI/_k-buttons.scss */
  .k-btn::-moz-focus-inner {
    border: 0;
    padding: 0; }

/* line 45, C:/Code/site-boilerplate/assets/styles/UI/_k-buttons.scss */
.k-btn--sm {
  height: 2em;
  line-height: 2;
  padding-left: 0.5em;
  padding-right: 0.5em; }

/* line 52, C:/Code/site-boilerplate/assets/styles/UI/_k-buttons.scss */
.k-btn--lg {
  height: 4em;
  line-height: 4;
  padding-left: 1.5em;
  padding-right: 1.5em; }

/* line 59, C:/Code/site-boilerplate/assets/styles/UI/_k-buttons.scss */
.k-btn--xg {
  height: 5em;
  line-height: 5;
  padding-left: 2em;
  padding-right: 2em; }

/* line 68, C:/Code/site-boilerplate/assets/styles/UI/_k-buttons.scss */
.k-btn--full, .k-info-block_action-btn {
  width: 100%;
  text-align: center;
  padding-left: 0;
  padding-right: 0; }

/* line 4, C:/Code/site-boilerplate/assets/styles/UI/_k-checkout-cart.scss */
.main-checkout-cart {
  font-size: 18px; }

/* line 8, C:/Code/site-boilerplate/assets/styles/UI/_k-checkout-cart.scss */
.k-cart-products {
  font-size: 18px;
  display: block;
  border-spacing: 2px;
  border-collapse: collapse;
  width: 100%;
  border-color: #d9d9d9; }
  @media screen and (min-width: 630px) {
    /* line 8, C:/Code/site-boilerplate/assets/styles/UI/_k-checkout-cart.scss */
    .k-cart-products {
      display: table; } }
  /* line 18, C:/Code/site-boilerplate/assets/styles/UI/_k-checkout-cart.scss */
  .k-cart-products__wrap {
    display: block;
    vertical-align: middle;
    border-color: inherit; }
    @media screen and (min-width: 630px) {
      /* line 18, C:/Code/site-boilerplate/assets/styles/UI/_k-checkout-cart.scss */
      .k-cart-products__wrap {
        display: table-row-group; } }
  /* line 27, C:/Code/site-boilerplate/assets/styles/UI/_k-checkout-cart.scss */
  .k-cart-products__titles {
    display: table-cell;
    font-weight: 700; }
  /* line 33, C:/Code/site-boilerplate/assets/styles/UI/_k-checkout-cart.scss */
  .k-cart-products__col {
    position: relative; }
    @media screen and (min-width: 630px) {
      /* line 33, C:/Code/site-boilerplate/assets/styles/UI/_k-checkout-cart.scss */
      .k-cart-products__col {
        display: table-cell;
        padding: 20px 0;
        vertical-align: inherit;
        width: calc(16.66% - 10px); } }
    /* line 41, C:/Code/site-boilerplate/assets/styles/UI/_k-checkout-cart.scss */
    .k-cart-products__col.k-cart-item-total {
      display: none; }
      @media screen and (min-width: 630px) {
        /* line 41, C:/Code/site-boilerplate/assets/styles/UI/_k-checkout-cart.scss */
        .k-cart-products__col.k-cart-item-total {
          display: table-cell; } }
    /* line 47, C:/Code/site-boilerplate/assets/styles/UI/_k-checkout-cart.scss */
    .k-cart-products__col:not(:first-of-type) {
      text-align: center; }
  /* line 52, C:/Code/site-boilerplate/assets/styles/UI/_k-checkout-cart.scss */
  .k-cart-products__row {
    display: block;
    vertical-align: inherit;
    border-bottom: 1px solid #d9d9d9;
    position: relative;
    padding: 20px 0; }
    @media screen and (min-width: 630px) {
      /* line 52, C:/Code/site-boilerplate/assets/styles/UI/_k-checkout-cart.scss */
      .k-cart-products__row {
        display: table-row;
        padding: 0; } }
    /* line 62, C:/Code/site-boilerplate/assets/styles/UI/_k-checkout-cart.scss */
    .k-cart-products__row:nth-child(2) {
      border-top: 1px solid #d9d9d9; }
      @media (min-width: 630px) {
        /* line 62, C:/Code/site-boilerplate/assets/styles/UI/_k-checkout-cart.scss */
        .k-cart-products__row:nth-child(2) {
          border-top: 0; } }
  /* line 70, C:/Code/site-boilerplate/assets/styles/UI/_k-checkout-cart.scss */
  .k-cart-products__headings {
    border-top: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
    display: none; }
    @media screen and (min-width: 630px) {
      /* line 70, C:/Code/site-boilerplate/assets/styles/UI/_k-checkout-cart.scss */
      .k-cart-products__headings {
        display: table-row; } }
    /* line 77, C:/Code/site-boilerplate/assets/styles/UI/_k-checkout-cart.scss */
    .k-cart-products__headings h4 {
      font-weight: 700;
      text-transform: uppercase;
      font-size: 0.778em;
      display: table-cell;
      padding: 15px 0 12px; }
      /* line 83, C:/Code/site-boilerplate/assets/styles/UI/_k-checkout-cart.scss */
      .k-cart-products__headings h4:not(:first-child) {
        text-align: center; }
    /* line 88, C:/Code/site-boilerplate/assets/styles/UI/_k-checkout-cart.scss */
    .k-cart-products__headings .k-cart-remove {
      padding: 0; }

/* line 95, C:/Code/site-boilerplate/assets/styles/UI/_k-checkout-cart.scss */
.k-cart-item-info {
  font-size: 0; }
  @media screen and (min-width: 630px) {
    /* line 95, C:/Code/site-boilerplate/assets/styles/UI/_k-checkout-cart.scss */
    .k-cart-item-info {
      width: 50%; } }

/* line 102, C:/Code/site-boilerplate/assets/styles/UI/_k-checkout-cart.scss */
.k-cart-item-img {
  width: 80px;
  height: 80px;
  position: relative;
  display: inline-block;
  vertical-align: top; }
  @media screen and (min-width: 630px) {
    /* line 102, C:/Code/site-boilerplate/assets/styles/UI/_k-checkout-cart.scss */
    .k-cart-item-img {
      vertical-align: middle; } }
  /* line 111, C:/Code/site-boilerplate/assets/styles/UI/_k-checkout-cart.scss */
  .k-cart-item-img img {
    max-width: 100%;
    max-height: 100%; }

/* line 118, C:/Code/site-boilerplate/assets/styles/UI/_k-checkout-cart.scss */
.k-cart-item-text {
  display: inline-block;
  vertical-align: top;
  margin-left: 15px;
  margin-bottom: 50px;
  width: calc(100% - 95px); }
  @media screen and (min-width: 630px) {
    /* line 118, C:/Code/site-boilerplate/assets/styles/UI/_k-checkout-cart.scss */
    .k-cart-item-text {
      vertical-align: middle;
      margin-left: 20px;
      margin-bottom: 0;
      width: calc(100% - 80px - 20px); } }
  /* line 130, C:/Code/site-boilerplate/assets/styles/UI/_k-checkout-cart.scss */
  .k-cart-item-text h4 {
    font-weight: 400;
    color: #1a1a1a;
    margin-bottom: 6px;
    font-size: 16px;
    margin-right: 35px; }
    @media screen and (min-width: 630px) {
      /* line 130, C:/Code/site-boilerplate/assets/styles/UI/_k-checkout-cart.scss */
      .k-cart-item-text h4 {
        font-size: 18px;
        margin-right: 0; } }
  /* line 141, C:/Code/site-boilerplate/assets/styles/UI/_k-checkout-cart.scss */
  .k-cart-item-text p {
    font-size: 16px;
    color: #a6a6a6;
    line-height: 20px; }

/* line 148, C:/Code/site-boilerplate/assets/styles/UI/_k-checkout-cart.scss */
.k-cart-item-price, .k-cart-item-total {
  padding-bottom: 7px;
  position: absolute;
  bottom: 20px;
  right: 0; }
  @media screen and (min-width: 630px) {
    /* line 148, C:/Code/site-boilerplate/assets/styles/UI/_k-checkout-cart.scss */
    .k-cart-item-price, .k-cart-item-total {
      padding-bottom: 20px;
      position: static; } }
  /* line 157, C:/Code/site-boilerplate/assets/styles/UI/_k-checkout-cart.scss */
  .k-cart-item-price p, .k-cart-item-total p {
    color: #595959;
    font-size: 18px; }

/* line 163, C:/Code/site-boilerplate/assets/styles/UI/_k-checkout-cart.scss */
.k-cart-item-quantity {
  position: absolute;
  left: 95px;
  bottom: 20px; }
  @media screen and (min-width: 630px) {
    /* line 163, C:/Code/site-boilerplate/assets/styles/UI/_k-checkout-cart.scss */
    .k-cart-item-quantity {
      position: static; } }
  /* line 170, C:/Code/site-boilerplate/assets/styles/UI/_k-checkout-cart.scss */
  .k-cart-item-quantity input {
    width: 43px;
    height: 32px;
    box-sizing: border-box;
    text-align: center; }

/* line 178, C:/Code/site-boilerplate/assets/styles/UI/_k-checkout-cart.scss */
.k-cart-remove {
  width: 30px;
  position: absolute;
  top: 15px;
  right: 0; }
  /* line 183, C:/Code/site-boilerplate/assets/styles/UI/_k-checkout-cart.scss */
  .k-cart-remove svg {
    width: 15px;
    height: 15px; }
  /* line 187, C:/Code/site-boilerplate/assets/styles/UI/_k-checkout-cart.scss */
  .k-cart-remove button {
    background: transparent;
    border-radius: 50%;
    width: 44px;
    height: 44px;
    line-height: 44px;
    box-shadow: 0 0 transparent;
    border: 1px solid transparent;
    opacity: 0.4;
    transition: all 150ms ease-in-out; }
    /* line 199, C:/Code/site-boilerplate/assets/styles/UI/_k-checkout-cart.scss */
    .k-cart-remove button:hover,
    .k-cart-remove button:focus,
    .k-cart-remove button:active {
      outline: none; }
    /* line 204, C:/Code/site-boilerplate/assets/styles/UI/_k-checkout-cart.scss */
    .k-cart-remove button:hover {
      cursor: pointer;
      opacity: 0.9; }
  @media screen and (min-width: 630px) {
    /* line 178, C:/Code/site-boilerplate/assets/styles/UI/_k-checkout-cart.scss */
    .k-cart-remove {
      position: static; } }

/* line 217, C:/Code/site-boilerplate/assets/styles/UI/_k-checkout-cart.scss */
.k-cart-summary {
  border-bottom: 1px solid #d9d9d9; }

/* line 221, C:/Code/site-boilerplate/assets/styles/UI/_k-checkout-cart.scss */
.k-cart-totals {
  font-size: 0;
  text-align: right;
  padding: 20px 0;
  color: gray; }
  /* line 226, C:/Code/site-boilerplate/assets/styles/UI/_k-checkout-cart.scss */
  .k-cart-totals > div {
    font-size: 16px;
    display: inline-block;
    vertical-align: middle; }
  /* line 231, C:/Code/site-boilerplate/assets/styles/UI/_k-checkout-cart.scss */
  .k-cart-totals__numbers {
    margin-left: 20px; }
    /* line 233, C:/Code/site-boilerplate/assets/styles/UI/_k-checkout-cart.scss */
    .k-cart-totals__numbers p {
      margin-bottom: 10px; }
      /* line 235, C:/Code/site-boilerplate/assets/styles/UI/_k-checkout-cart.scss */
      .k-cart-totals__numbers p:last-child {
        font-weight: 700;
        font-size: 18px;
        color: #262626;
        margin-bottom: 0; }
  /* line 244, C:/Code/site-boilerplate/assets/styles/UI/_k-checkout-cart.scss */
  .k-cart-totals__titles h4 {
    font-weight: 400;
    margin-bottom: 10px; }
    /* line 247, C:/Code/site-boilerplate/assets/styles/UI/_k-checkout-cart.scss */
    .k-cart-totals__titles h4:last-child {
      font-weight: 700;
      font-size: 18px;
      color: #262626;
      margin-bottom: 0; }

/* line 259, C:/Code/site-boilerplate/assets/styles/UI/_k-checkout-cart.scss */
.k-cart-action {
  padding: 20px 0;
  text-align: center;
  font-size: 18px; }
  /* line 263, C:/Code/site-boilerplate/assets/styles/UI/_k-checkout-cart.scss */
  .k-cart-action .k-btn {
    display: block;
    margin: 0 auto; }
    @media screen and (min-width: 630px) {
      /* line 263, C:/Code/site-boilerplate/assets/styles/UI/_k-checkout-cart.scss */
      .k-cart-action .k-btn {
        float: right;
        display: inline-block; } }

/* line 273, C:/Code/site-boilerplate/assets/styles/UI/_k-checkout-cart.scss */
.regresar-link {
  text-decoration: none;
  color: gray;
  display: inline-block;
  margin-top: 20px; }
  @media screen and (min-width: 768px) {
    /* line 273, C:/Code/site-boilerplate/assets/styles/UI/_k-checkout-cart.scss */
    .regresar-link {
      margin-top: 18px;
      float: left; } }
  /* line 282, C:/Code/site-boilerplate/assets/styles/UI/_k-checkout-cart.scss */
  .regresar-link:hover {
    text-decoration: none;
    color: #7f1199; }

/* line 5, C:/Code/site-boilerplate/assets/styles/UI/_k-form.scss */
.k-form-unit {
  box-sizing: border-box; }
  @media (min-width: 768px) {
    /* line 5, C:/Code/site-boilerplate/assets/styles/UI/_k-form.scss */
    .k-form-unit {
      float: left;
      width: 55%;
      padding-right: 15px; } }
  @media (min-width: 1072px) {
    /* line 5, C:/Code/site-boilerplate/assets/styles/UI/_k-form.scss */
    .k-form-unit {
      width: 60%;
      padding-right: 30px; } }

/* line 19, C:/Code/site-boilerplate/assets/styles/UI/_k-form.scss */
.k-form {
  width: 100%;
  font-family: Helvetica, Arial, sans-serif; }
  /* line 22, C:/Code/site-boilerplate/assets/styles/UI/_k-form.scss */
  .k-form__section {
    font-size: 0; }
    /* line 24, C:/Code/site-boilerplate/assets/styles/UI/_k-form.scss */
    .k-form__section:not(:last-child) {
      margin-bottom: 25px;
      border-bottom: 1px solid #d9d9d9; }
  /* line 30, C:/Code/site-boilerplate/assets/styles/UI/_k-form.scss */
  .k-form--rounded .k-input__input {
    border-radius: 4px; }
  /* line 34, C:/Code/site-boilerplate/assets/styles/UI/_k-form.scss */
  .k-form--rounded .k-select {
    border-radius: 4px; }
  /* line 39, C:/Code/site-boilerplate/assets/styles/UI/_k-form.scss */
  .k-form__title {
    margin-bottom: 25px;
    color: #595959;
    padding-bottom: 25px;
    border-bottom: 1px solid #d9d9d9;
    font-family: "Roboto", Helvetica, Arial, sans-serif; }
  /* line 47, C:/Code/site-boilerplate/assets/styles/UI/_k-form.scss */
  .k-form__subtitle {
    font-size: 18px;
    margin-bottom: 25px;
    color: #595959;
    font-family: "Roboto", Helvetica, Arial, sans-serif; }

/* line 56, C:/Code/site-boilerplate/assets/styles/UI/_k-form.scss */
.k-input {
  position: relative;
  box-sizing: border-box;
  margin-bottom: 15px; }
  /* line 62, C:/Code/site-boilerplate/assets/styles/UI/_k-form.scss */
  .k-input--focused .k-input__label {
    color: #7f1199; }
  /* line 68, C:/Code/site-boilerplate/assets/styles/UI/_k-form.scss */
  .k-input--active .k-input__label {
    opacity: 1;
    visibility: visible;
    top: 0px; }
  /* line 73, C:/Code/site-boilerplate/assets/styles/UI/_k-form.scss */
  .k-input--active .k-input__input {
    padding: 17px 8px 5px 8px; }
  /* line 78, C:/Code/site-boilerplate/assets/styles/UI/_k-form.scss */
  .k-input__label {
    -webkit-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    display: inline-block;
    top: 9px;
    left: 5px;
    padding: 5px 3px 3px 3px;
    font-size: 11px;
    line-height: 1em;
    font-weight: bold;
    color: #595959; }
  /* line 94, C:/Code/site-boilerplate/assets/styles/UI/_k-form.scss */
  .k-input__input {
    -webkit-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    margin-top: 0;
    margin-left: 0;
    padding: 11px 8px;
    font-size: 15px;
    box-shadow: 0 0 0 1px #d9d9d9;
    height: 40px;
    box-sizing: border-box;
    display: inline-block;
    width: 100%;
    border: none;
    color: #595959; }
    /* line 112, C:/Code/site-boilerplate/assets/styles/UI/_k-form.scss */
    .k-input__input::moz-selection, .k-input__input::selection {
      color: #ffffff;
      background-color: #2a8dea; }
    /* line 116, C:/Code/site-boilerplate/assets/styles/UI/_k-form.scss */
    .k-input__input:focus {
      box-shadow: 0 0 0 2px #7f1199; }
  /* line 122, C:/Code/site-boilerplate/assets/styles/UI/_k-form.scss */
  .k-input--error .k-input__input {
    box-shadow: 0 0 0 2px #d9534f; }
    /* line 124, C:/Code/site-boilerplate/assets/styles/UI/_k-form.scss */
    .k-input--error .k-input__input:focus, .k-input--error .k-input__input:active {
      box-shadow: 0 0 0 2px #d9534f; }

@media screen and (min-width: 768px) {
  /* line 133, C:/Code/site-boilerplate/assets/styles/UI/_k-form.scss */
  .k-form__grid {
    margin-bottom: 15px; }
    /* line 136, C:/Code/site-boilerplate/assets/styles/UI/_k-form.scss */
    .k-form__grid .k-grid-half {
      width: calc(50% - 7.5px); }
      /* line 138, C:/Code/site-boilerplate/assets/styles/UI/_k-form.scss */
      .k-form__grid .k-grid-half:last-of-type {
        margin-left: 15px; }
    /* line 143, C:/Code/site-boilerplate/assets/styles/UI/_k-form.scss */
    .k-form__grid .k-grid-thirds {
      width: calc(33.33% - 10px); }
      /* line 145, C:/Code/site-boilerplate/assets/styles/UI/_k-form.scss */
      .k-form__grid .k-grid-thirds:not(:first-of-type) {
        margin-left: 15px; }
    /* line 150, C:/Code/site-boilerplate/assets/styles/UI/_k-form.scss */
    .k-form__grid .k-grid-quarters {
      width: calc(25% - 11.25px); }
      /* line 152, C:/Code/site-boilerplate/assets/styles/UI/_k-form.scss */
      .k-form__grid .k-grid-quarters:not(:first-of-type) {
        margin-left: 15px; }
    /* line 157, C:/Code/site-boilerplate/assets/styles/UI/_k-form.scss */
    .k-form__grid > div {
      display: inline-block;
      vertical-align: middle;
      margin-bottom: 0; } }
    @media screen and (min-width: 768px) and (min-width: 768px) {
      /* line 161, C:/Code/site-boilerplate/assets/styles/UI/_k-form.scss */
      .k-form__grid > div > div {
        margin-bottom: 0; } }

/* line 172, C:/Code/site-boilerplate/assets/styles/UI/_k-form.scss */
.k-select {
  position: relative;
  padding: 0;
  margin: 0;
  border: 1px solid #d9d9d9;
  width: 100%;
  overflow: hidden;
  font-size: 15px;
  height: 40px;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  margin-bottom: 15px; }
  /* line 186, C:/Code/site-boilerplate/assets/styles/UI/_k-form.scss */
  .k-select:before {
    content: '';
    width: 30px;
    height: 30px;
    background: url("../images/k-boilerplate-arrowdown.gif") no-repeat center;
    background-color: transparent;
    position: absolute;
    right: 4px;
    top: 0;
    bottom: 0;
    margin: auto 0;
    z-index: -1;
    opacity: 0.4;
    -webkit-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
    transform: rotate(0deg); }
  @media (min-width: 768px) {
    /* line 172, C:/Code/site-boilerplate/assets/styles/UI/_k-form.scss */
    .k-select {
      margin-bottom: 0; } }
  /* line 206, C:/Code/site-boilerplate/assets/styles/UI/_k-form.scss */
  .k-select__select {
    padding: 5px 8px;
    width: 100%;
    height: 100%;
    display: block;
    color: #a6a6a6;
    border: none;
    box-shadow: 0 0 transparent;
    background-color: transparent;
    background-image: none;
    line-height: 18px;
    -webkit-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; }
    /* line 222, C:/Code/site-boilerplate/assets/styles/UI/_k-form.scss */
    .k-select__select:focus, .k-select__select:active {
      outline: none;
      box-shadow: 0 0 transparent; }
    /* line 226, C:/Code/site-boilerplate/assets/styles/UI/_k-form.scss */
    .k-select__select:hover {
      cursor: pointer; }
  /* line 230, C:/Code/site-boilerplate/assets/styles/UI/_k-form.scss */
  .k-select--open {
    box-shadow: 0 0 0 2px #7f1199; }
    /* line 232, C:/Code/site-boilerplate/assets/styles/UI/_k-form.scss */
    .k-select--open:before {
      opacity: 1;
      transform: rotate(180deg); }
    /* line 236, C:/Code/site-boilerplate/assets/styles/UI/_k-form.scss */
    .k-select--open .k-select__select {
      color: #595959; }
  /* line 242, C:/Code/site-boilerplate/assets/styles/UI/_k-form.scss */
  .k-select--changed .k-select__select {
    color: #595959; }

/* line 6, C:/Code/site-boilerplate/assets/styles/UI/_k-order-info.scss */
.k-order-info-unit {
  box-sizing: border-box; }
  @media (min-width: 768px) {
    /* line 6, C:/Code/site-boilerplate/assets/styles/UI/_k-order-info.scss */
    .k-order-info-unit {
      float: left;
      width: 45%;
      padding-left: 15px; } }
  @media (min-width: 1072px) {
    /* line 6, C:/Code/site-boilerplate/assets/styles/UI/_k-order-info.scss */
    .k-order-info-unit {
      padding-left: 30px;
      width: 40%; } }

/* line 19, C:/Code/site-boilerplate/assets/styles/UI/_k-order-info.scss */
.k-order-info {
  font-size: 0;
  background-color: #f2f2f2;
  padding: 0 15px;
  box-sizing: border-box;
  display: none; }
  @media (min-width: 768px) {
    /* line 19, C:/Code/site-boilerplate/assets/styles/UI/_k-order-info.scss */
    .k-order-info {
      display: block; } }
  /* line 28, C:/Code/site-boilerplate/assets/styles/UI/_k-order-info.scss */
  .k-order-info__top {
    font-size: 18px;
    border-bottom: 1px solid #d9d9d9;
    padding: 30px 0;
    text-align: right; }
    /* line 33, C:/Code/site-boilerplate/assets/styles/UI/_k-order-info.scss */
    .k-order-info__top h3 {
      color: #595959;
      float: left;
      font-size: 18px; }
    /* line 38, C:/Code/site-boilerplate/assets/styles/UI/_k-order-info.scss */
    .k-order-info__top a {
      text-decoration: none;
      color: #595959;
      font-size: 14px;
      -webkit-transition: all 200ms ease-in-out;
      transition: all 200ms ease-in-out; }
      /* line 44, C:/Code/site-boilerplate/assets/styles/UI/_k-order-info.scss */
      .k-order-info__top a:hover {
        color: #7f1199; }
  /* line 50, C:/Code/site-boilerplate/assets/styles/UI/_k-order-info.scss */
  .k-order-info__table {
    display: table;
    width: 100%;
    border-collapse: collapse; }
  /* line 56, C:/Code/site-boilerplate/assets/styles/UI/_k-order-info.scss */
  .k-order-info__wrap {
    display: table-row-group;
    vertical-align: middle; }
  /* line 61, C:/Code/site-boilerplate/assets/styles/UI/_k-order-info.scss */
  .k-order-info__row {
    display: table-row;
    vertical-align: inherit;
    border-bottom: 1px solid #d9d9d9; }
  /* line 67, C:/Code/site-boilerplate/assets/styles/UI/_k-order-info.scss */
  .k-order-info__col {
    display: table-cell;
    vertical-align: inherit;
    padding: 15px 0; }
  /* line 73, C:/Code/site-boilerplate/assets/styles/UI/_k-order-info.scss */
  .k-order-info__total {
    font-size: 15px;
    color: gray;
    text-align: right; }

/* line 80, C:/Code/site-boilerplate/assets/styles/UI/_k-order-info.scss */
.k-order-item-img {
  width: 40px;
  height: 40px;
  position: relative;
  display: inline-block;
  vertical-align: top; }
  @media screen and (min-width: 630px) {
    /* line 80, C:/Code/site-boilerplate/assets/styles/UI/_k-order-info.scss */
    .k-order-item-img {
      vertical-align: middle; } }
  /* line 89, C:/Code/site-boilerplate/assets/styles/UI/_k-order-info.scss */
  .k-order-item-img img {
    max-width: 100%;
    max-height: 100%; }

/* line 96, C:/Code/site-boilerplate/assets/styles/UI/_k-order-info.scss */
.k-order-item-text {
  display: inline-block;
  vertical-align: top;
  margin-left: 15px;
  margin-bottom: 50px;
  width: calc(100% - 95px); }
  @media screen and (min-width: 630px) {
    /* line 96, C:/Code/site-boilerplate/assets/styles/UI/_k-order-info.scss */
    .k-order-item-text {
      vertical-align: middle;
      margin-left: 15px;
      margin-bottom: 0;
      width: calc(100% - 40px - 15px); } }
  /* line 108, C:/Code/site-boilerplate/assets/styles/UI/_k-order-info.scss */
  .k-order-item-text h4 {
    font-weight: 400;
    color: #595959;
    margin-bottom: 2px;
    font-size: 15px;
    margin-right: 35px; }
    @media screen and (min-width: 630px) {
      /* line 108, C:/Code/site-boilerplate/assets/styles/UI/_k-order-info.scss */
      .k-order-item-text h4 {
        margin-right: 0; } }
  /* line 118, C:/Code/site-boilerplate/assets/styles/UI/_k-order-info.scss */
  .k-order-item-text p {
    font-size: 14px;
    color: #a6a6a6;
    line-height: 20px; }

/* line 125, C:/Code/site-boilerplate/assets/styles/UI/_k-order-info.scss */
.k-order-totals {
  font-size: 16px;
  text-align: right;
  padding: 15px 0;
  color: gray; }
  /* line 130, C:/Code/site-boilerplate/assets/styles/UI/_k-order-info.scss */
  .k-order-totals > div {
    padding: 5px 0; }
    /* line 133, C:/Code/site-boilerplate/assets/styles/UI/_k-order-info.scss */
    .k-order-totals > div span:last-child {
      display: inline-block;
      width: 85px;
      text-align: right; }
  /* line 141, C:/Code/site-boilerplate/assets/styles/UI/_k-order-info.scss */
  .k-order-totals__total span {
    font-weight: 700;
    font-size: 18px;
    color: #262626; }

/* line 9, C:/Code/site-boilerplate/assets/styles/UI/_k-product-thumbs.scss */
.k-prod-thumbs {
  padding: 0;
  margin: 0 auto;
  font-size: 0;
  width: 100%;
  max-width: 280px;
  text-align: center;
  position: relative; }
  @media screen and (min-width: 580px) {
    /* line 9, C:/Code/site-boilerplate/assets/styles/UI/_k-product-thumbs.scss */
    .k-prod-thumbs {
      max-width: none; } }
  /* line 20, C:/Code/site-boilerplate/assets/styles/UI/_k-product-thumbs.scss */
  .k-prod-thumbs * {
    box-sizing: border-box; }
  /* line 23, C:/Code/site-boilerplate/assets/styles/UI/_k-product-thumbs.scss */
  .k-prod-thumbs__item {
    font-size: 18px;
    display: block;
    box-sizing: border-box;
    height: 345px;
    -webkit-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
    padding: 0; }
    @media screen and (min-width: 580px) {
      /* line 23, C:/Code/site-boilerplate/assets/styles/UI/_k-product-thumbs.scss */
      .k-prod-thumbs__item {
        display: inline-block;
        vertical-align: top;
        width: 50%; } }
    @media screen and (min-width: 768px) {
      /* line 23, C:/Code/site-boilerplate/assets/styles/UI/_k-product-thumbs.scss */
      .k-prod-thumbs__item {
        width: 25%; } }
    /* line 16, C:/Code/site-boilerplate/assets/styles/mixins/_quantity-queries.scss */
    .k-prod-thumbs__item:nth-last-child(3):first-child,
    .k-prod-thumbs__item:nth-last-child(3):first-child ~ * {
      width: 33.33%; }
    @media screen and (min-width: 580px) {
      /* line 16, C:/Code/site-boilerplate/assets/styles/mixins/_quantity-queries.scss */
      .k-prod-thumbs__item:nth-last-child(5):first-child,
      .k-prod-thumbs__item:nth-last-child(5):first-child ~ * {
        width: 33.33%; } }
    @media screen and (min-width: 768px) {
      /* line 16, C:/Code/site-boilerplate/assets/styles/mixins/_quantity-queries.scss */
      .k-prod-thumbs__item:nth-last-child(5):first-child,
      .k-prod-thumbs__item:nth-last-child(5):first-child ~ * {
        width: 20%; } }
    /* line 52, C:/Code/site-boilerplate/assets/styles/UI/_k-product-thumbs.scss */
    .k-prod-thumbs__item:hover {
      box-shadow: 0 0 8px #d9d9d9; }
      /* line 54, C:/Code/site-boilerplate/assets/styles/UI/_k-product-thumbs.scss */
      .k-prod-thumbs__item:hover .k-prod-thumbs__action {
        opacity: 1; }
  /* line 60, C:/Code/site-boilerplate/assets/styles/UI/_k-product-thumbs.scss */
  .k-prod-thumbs__details {
    display: block;
    height: calc(100% - 38px);
    padding: 20px;
    padding-bottom: 0; }
  /* line 67, C:/Code/site-boilerplate/assets/styles/UI/_k-product-thumbs.scss */
  .k-prod-thumbs__info {
    display: block;
    height: 124px;
    text-align: center;
    position: relative; }
    /* line 72, C:/Code/site-boilerplate/assets/styles/UI/_k-product-thumbs.scss */
    .k-prod-thumbs__info .k-thumb-info-wrap {
      position: absolute;
      left: 0;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      margin: auto; }
    /* line 80, C:/Code/site-boilerplate/assets/styles/UI/_k-product-thumbs.scss */
    .k-prod-thumbs__info h3 {
      font-size: 1em;
      color: #262626;
      margin-bottom: 6px; }
    /* line 85, C:/Code/site-boilerplate/assets/styles/UI/_k-product-thumbs.scss */
    .k-prod-thumbs__info h4 {
      font-size: 0.889em;
      color: gray;
      font-weight: 500; }
    /* line 90, C:/Code/site-boilerplate/assets/styles/UI/_k-product-thumbs.scss */
    .k-prod-thumbs__info p {
      color: #595959;
      font-size: 0.889em;
      margin-top: 14px;
      font-weight: 700; }
  /* line 98, C:/Code/site-boilerplate/assets/styles/UI/_k-product-thumbs.scss */
  .k-prod-thumbs__img {
    display: block;
    width: 100%;
    height: calc(100% - 124px);
    padding: 20px;
    position: relative;
    box-sizing: border-box; }
    /* line 105, C:/Code/site-boilerplate/assets/styles/UI/_k-product-thumbs.scss */
    .k-prod-thumbs__img img {
      max-width: 100%;
      max-height: 100%;
      -webkit-transition: all 200ms ease-in-out;
      transition: all 200ms ease-in-out; }
    /* line 116, C:/Code/site-boilerplate/assets/styles/UI/_k-product-thumbs.scss */
    .k-prod-thumbs__img--crossfade img:hover:last-child {
      opacity: 0;
      left: -15px; }
  /* line 125, C:/Code/site-boilerplate/assets/styles/UI/_k-product-thumbs.scss */
  .k-prod-thumbs__action {
    background-color: #7f1199;
    text-align: center;
    line-height: 38px;
    height: 38px;
    display: block;
    font-weight: 700;
    color: #ffffff;
    text-decoration: none;
    font-size: 0.778em;
    opacity: 0;
    -webkit-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out; }
    /* line 138, C:/Code/site-boilerplate/assets/styles/UI/_k-product-thumbs.scss */
    .k-prod-thumbs__action:hover {
      background-color: #590c6b; }

/* line 3, C:/Code/site-boilerplate/assets/styles/layout/_k-workspace.scss */
.k-workspace {
  box-sizing: border-box; }
  /* line 6, C:/Code/site-boilerplate/assets/styles/layout/_k-workspace.scss */
  .k-workspace .k-wrap {
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box; }
    @media screen and (min-width: 768px) {
      /* line 6, C:/Code/site-boilerplate/assets/styles/layout/_k-workspace.scss */
      .k-workspace .k-wrap {
        max-width: 800px; } }
    @media screen and (min-width: 848px) {
      /* line 6, C:/Code/site-boilerplate/assets/styles/layout/_k-workspace.scss */
      .k-workspace .k-wrap {
        max-width: none;
        width: 808px; } }
    @media screen and (min-width: 1072px) {
      /* line 6, C:/Code/site-boilerplate/assets/styles/layout/_k-workspace.scss */
      .k-workspace .k-wrap {
        width: 1032px; } }
    @media screen and (min-width: 1280px) {
      /* line 6, C:/Code/site-boilerplate/assets/styles/layout/_k-workspace.scss */
      .k-workspace .k-wrap {
        width: 1240px; } }
    @media screen and (min-width: 848px) {
      /* line 24, C:/Code/site-boilerplate/assets/styles/layout/_k-workspace.scss */
      .k-workspace .k-wrap--fluid {
        width: 100%;
        max-width: 1240px; } }
  /* line 32, C:/Code/site-boilerplate/assets/styles/layout/_k-workspace.scss */
  .k-workspace .grid .unit {
    transition: width 200ms ease-in-out; }
    /* line 34, C:/Code/site-boilerplate/assets/styles/layout/_k-workspace.scss */
    .k-workspace .grid .unit:first-of-type {
      padding-left: 0; }
    /* line 37, C:/Code/site-boilerplate/assets/styles/layout/_k-workspace.scss */
    .k-workspace .grid .unit:last-of-type {
      padding-right: 0; }
  @media (max-width: 768px) {
    /* line 42, C:/Code/site-boilerplate/assets/styles/layout/_k-workspace.scss */
    .k-workspace .grid:not(.no-stacking-on-mobiles) > .unit {
      width: 100%;
      padding-left: 0;
      padding-right: 0; } }

/* line 2, C:/Code/site-boilerplate/assets/styles/_home.scss */
body.home #thing {
  margin-top: 75px; }
  /* line 5, C:/Code/site-boilerplate/assets/styles/_home.scss */
  body.home #thing .--logo {
    margin-left: 20px;
    width: 150px; }
  /* line 10, C:/Code/site-boilerplate/assets/styles/_home.scss */
  body.home #thing .--bar {
    height: 20px;
    background-color: #7f1199;
    background-image: #7f1199;
    background-image: -webkit-linear-gradient(left, #7f1199, #61007b);
    background-image: -o-linear-gradient(right, #7f1199, #61007b);
    background-image: -moz-linear-gradient(right, #7f1199, #61007b);
    background-image: linear-gradient(to right, #7f1199, #61007b); }
  @media screen and (min-width: 480px) {
    /* line 21, C:/Code/site-boilerplate/assets/styles/_home.scss */
    body.home #thing .--bar {
      height: 30px; } }
  /* line 26, C:/Code/site-boilerplate/assets/styles/_home.scss */
  body.home #thing .k-banner p {
    color: gray; }

/* line 31, C:/Code/site-boilerplate/assets/styles/_home.scss */
body.home #palette-colors li {
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
  width: 30px;
  height: 30px;
  list-style: none;
  border: 1px solid #000; }

/* line 41, C:/Code/site-boilerplate/assets/styles/_home.scss */
body.home #grid-example {
  text-align: center; }
  /* line 44, C:/Code/site-boilerplate/assets/styles/_home.scss */
  body.home #grid-example code {
    display: block;
    background-color: rgba(255, 255, 255, 0.5); }

/* line 53, C:/Code/site-boilerplate/assets/styles/_home.scss */
body {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1; }

/*# sourceMappingURL=main.css.map */